.TabPanel {
    display: flex;
}

.Tab {
    height: 50px;
    width: 50px;
}

.mainTabs {
    text-align: left;
}

.tabHead {
    display: flex;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.myTab {
    border: 1px solid #ccc;
    padding: 15px;
    height: 10px;
    margin-top: 75px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.valueTab {
    color: #000 !important;
    text-decoration: none;
}

.btnPositionBlock {
    margin-left: auto;
}