.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 500px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);
}

.modal-header,
.modal-footer {
    padding: 10px;
    display: flex;
}

.modal-title {
    margin: 0;
    text-align: center;
}

.modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.modal-div {
    display: flex;
    margin: 25px;
}

.modal-label {
    margin: 5px 15px 5px 0;
}

.modal-select {
    padding-left: 2%;
    width: 225px;
    height: 25px;
    margin-left: auto;
}

.modal-input {
    padding-left: 2%;
    width: 210px;
    height: 25px;
    margin-left: auto;
}

.modal-textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: 150px;
    margin-left: 115px;
}

.btn_add {
    margin-left: 20px;
}

.buttons_left {
    margin-left: auto;
}