.Tables {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.idField {
    width: 35px;
}

.lastField {
    width: 140px;
}

table {
    border: 2px solid black;
    width: 100%;
    height: 80px;
}

thead {
    background-color: coral;
}

tr {
    text-align: center;
}

tbody {
    background-color: azure;
}

th {
    text-align: center;
    height: 50px;
}

td {
    text-align: center;
    height: 40px;
}

.hyper-word {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}